[submodule "diffusion_policy"]
	path = diffusion_policy
	url = /home/davintj/diff_pol/diffusion_policy
[submodule "mujoco_menagerie"]
	path = mujoco_menagerie
	url = /home/davintj/diff_pol/mujoco_menagerie
